body {
    background-color: url(../../img/concrete-texture.png);
}

main {
    width: 1200px;
    margin: auto;
    background-color: #fff;
}

section {
    width: 600px;
    float: left;
    height: 600px;
}

.bleu {
    background-color: royalblue;
}

.clear {
    clear: both;
}

footer {
    background-color: pink;
}

div {
    height: 15px;
    margin: 0;
    padding: 0;
    background-color: peachpuff;
}